body{
	padding: 100px 0;
}

h1 ,h4 ,p {
	margin: 30px 0;
}

h4{
	font-weight: bold;
}

a{
	text-decoration: none !important; 
	font-weight: bold;
	padding-bottom: 30px ;
}

img{
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.editor{
	margin-bottom: 30px
}

